/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #004a82;
$presentation-title-slide-text-align: "left";
$link-color: #75AADB;
$code-block-font-size: 0.9em;

// colors
$light-blue: #56B4E9 !default;
$pale-blue: #CEE9FF !default;
$dark-blue: #0072B2 !default;
$light-grey: #EDEEEF !default;
$grayish-black: #474747 !default;
$greenish-black: #23373B !default;
$grey: #E5E5E5 !default;
$dark-grey: #6C7B7F !default;
$pink: #EC99C6 !default;
$orange: #E69F00 !default;
$green: #009E73 !default;


$border-color-left: #0dcaf0 !default;
$icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/></svg>') !default;

$background-color: #bfe4eb !default;

// headings
$presentation-heading-font: $font-family-sans-serif !default;
$presentation-heading-color: $grayish-black !default;
$h1-font-size: 1.6em !default;
$h2-font-size: 1.3em !default;
$h3-font-size: 1.15em !default;
h1 {
  font-weight: bold;
  font-size: 1.6em;
  text-align: left;
}

h2 {
  font-weight: bold;
  font-size: 1.3em;
}

h3 {
  font-weight: bold;
  font-size: 1.1em;
}

//code
$code-color: $green !default;
$font-family-monospace: 'IBM Plex Mono', 'Lucida Console', Monaco, monospace !default;

// quarto variables
$body-bg: #fff !default;
$body-color: $grayish-black !default;
$link-color: $pink !default;
$presentation-font-size-root: 36px !default;
$selection-bg: $light-grey !default;
$selection-color: $body-color !default;


/*-- scss:rules --*/

div.callout-tweet.callout {
  border-left-color: $border-color-left;
}

div.callout-tweet.callout-style-default>.callout-header {
  background-color: $background-color;
}

.callout-tweet.icon .callout-icon {
  display: unset !important;
}

div.callout-tweet.icon.callout-captioned .callout-icon::before {
  background-image: $icon;
}

.callout-tweet.icon.callout-style-default div.callout-icon-container {
  padding-top: 0.1em;
  padding-right: 0.35em;
}


.reveal pre code {
  font-size: 1.3em;
  padding: 0.5em;
  line-height: 1.2em;
  overflow: visible;
}



.title h1 {
  color: white;
  font-size: 1.3em;
  padding: 1em;
  font-weight: bold;
  text-align: left;
}

.subtitle {
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

.quarto-title-authors {
  color: white;
  font-size: 1em;
  font-family: $presentation-heading-font;
  text-align: left;
}

.quarto-title-date {
  color: white;
  font-size: 1em;
  font-family: $presentation-heading-font;
  text-align: left;
}
.reveal .slide-logo {
bottom: 0;
right: 30px !important;
max-height: 150px !important;
height: auto !important;
width: auto !important;
}

.reveal .footer {
  font-size: 1em !important;
  font-family: $presentation-heading-font !important;
}

reveal .calloutphoto {
  --emoji: unset;
  --icon: "\f083"; /* copied front FontAwesome */
  --icon-color: #c50a50;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: auto !important;
  height: auto !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}

.footer {
  font-family: $presentation-heading-font;
}

.reveal .slide-number {
  font-family: $presentation-heading-font;
}

.reveal .panel-tabset [role=tab] {
    font-size: 0.8em;
}

.reveal .takeaway {
  background-color: #e1ecf7;
  text-align: center;
}

.reveal .takeaway {
  background-color: #e1ecf7;
  text-align: center;
}

.reveal .date {
  text-align: left;
}

.reveal .footer {
    color: $grayish-black;
}

section.has-dark-background {
  background-size: cover;
  color: $light-grey;
  font-weight: bold;
  text-shadow: none;
}

section.has-dark-background h1  {
  color: white;
  font-weight: 500;
}

section.has-dark-background h2  {
  color:white;
  font-weight: 500;
}

a, a > code  {
  color: $pink;
  text-decoration: none;
}

section.has-dark-background a, a > code  {
  color: $pink;
  text-decoration: none;
}

section.has-dark-background code  {
  color: $green;
}

strong {
  color: $greenish-black;
}

em {
  color: $light-blue;
  font-style: normal;
  font-weight: bold;
}

del {
  color: $grey;
  text-decoration: none;
  font-weight: bold;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  font-size: 85%;
  line-height: 20px;
  list-style-type: none;
  text-align: left;
  font-weight: 500;
  padding-top: 5px;
}

ul li {
  padding-bottom: 40px;
}

ol {
  counter-reset: my-counter;
  list-style: none;
  padding-left: 40px;
  font-size: 85%;
  font-weight: bold;
  text-align: left;
}

.fragment:not(.current-fragment) {
  color: $light-grey;
}

section.has-dark-background .fragment:not(.current-fragment) {
  color: $dark-grey;
}

section.has-dark-background .fragment:not(.current-fragment) {
  color: $dark-grey;
}

section.has-dark-background .current-fragment {
  color: $light-grey;
}

section.has-dark-background .fragment:not(.current-fragment) strong {
  color: $dark-grey;
}

section.has-dark-background .fragment:not(.current-fragment) em {
  color: $dark-grey;
}

section.has-dark-background .fragment:not(.current-fragment) a, a > code  {
  color: $dark-grey;
}

section.has-dark-background .fragment:not(.current-fragment) code {
  color: $dark-grey;
}

section.has-dark-background .fragment:not(.current-fragment) del {
  color: $dark-grey;
}

.fragment:not(.current-fragment) code {
  color: $light-grey;
}

.fragment:not(.current-fragment)::before {
  background-color: lighten($light-grey, 3%);
}

section.has-dark-background .fragment:not(.current-fragment)::before {
  background-color: lighten($dark-grey, 3%);
}

.fragment:not(.current-fragment) strong {
  color: $light-grey;
}

.fragment:not(.current-fragment) em {
  color: $light-grey;
}

.fragment:not(.current-fragment) del {
  color: $light-grey;
}

.fragment:not(.current-fragment) a {
  color: $light-grey;
}

.current-fragment {
  color: $body-color;
}

.reveal
  div.sourceCode
  pre
  code.has-line-highlights
  > span:not(.highlight-line) {
  opacity: 0.1 !important;
}

.reveal
  div.sourceCode
  pre
  code.has-line-highlights
  > span.highlight-line {
  font-weight: bold;
}

ol li {
  counter-increment: my-counter;
  padding-left: 40px;
  position: relative;
  font-size: 125%;
  margin: 20px 0;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ol li::before {
  content: counter(my-counter);
  color: #fff;
  font-size: 100%;
  font-weight: bold;
  position: absolute;
  left: -40px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  top: 10%;
  background: $light-blue;
  border-radius: 50%;
  text-align: center;
}



.middle {
  vertical-align: middle;
}

.center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.huge { font-size: 200% }
.extra-large { font-size: 150% }
.large { font-size: 130% }
.medium { font-size: 115% }
.small { font-size: 70% }
.tiny { font-size: 50% }
