/*-- scss:defaults --*/

// fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$presentation-heading-color: #004a82;
$presentation-title-slide-text-align: "left";
$link-color: #75AADB;
$code-block-font-size: 0.9em;

$border-color-left: #0dcaf0 !default;
$icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/></svg>') !default;

$background-color: #bfe4eb !default;



// general
$body-bg: #fff;
$body-color: #000000;
$link-color: #88398a;
$presentation-font-size-root: 35px;

/*-- scss:rules --*/

h1 {
  font-weight: bold;
  font-size: 1.6em;
}

h2 {
  font-weight: bold;
  font-size: 1.3em;
}

h3 {
  font-weight: bold;
  font-size: 1.1em;
}

.reveal .takeaway h2 {
  font-size: 1.7em;
  font-weight: normal;
  color: #0F1620;
  text-align: center;
}

.reveal .takeaway {
  background-color: #e1ecf7;
  text-align: center;
}

.reveal .slide .quotebox-transparent {
  border: 2px solid #FFFFFF;
  padding: 1em;
  background: rgb(231, 231, 232, 0.75);
  position: absolute;
  left: 15%;
  width: 70%;
  color: #0F1620;
  font-size: 1.1em;
}

.reveal .slide .quotebox-transparent-low {
  border: 2px solid #FFFFFF;
  padding: 1em;
  background: rgb(231, 231, 232, 0.75);
  position: absolute;
  left: 15%;
  bottom: 1%;
  width: 70%;
  color: #0F1620;
  font-size: 1.1em;
}

.reveal .slide .quotebox-transparent-wide-high {
  border: 2px solid #FFFFFF;
  padding: 1em;
  background: rgb(231, 231, 232, 0.75);
  position: absolute;
  left: 0%;
  bottom: 65%;
  width: 95%;
  color: #0F1620;
  font-size: 1.1em;
}

.reveal .slide .quotebox-transparent-bottom-right {
  border: 2px solid #FFFFFF;
  padding: 0.5em;
  background: rgb(231, 231, 232, 0.75);
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: auto;
  color: #0F1620;
  font-size: 1.1em;
}

.reveal .slide .quotebox-opaque {
  border: 2px solid #FFFFFF;
  padding: 1em;
  background: rgb(231, 231, 232, 0.95);
  position: absolute;
  left: 15%;
  width: 70%;
  color: #0F1620;
  font-size: 1.1em;
}


.reveal .slide .footerbox {
  border: 2px solid #000000;
  text-align: left;
  padding: 0.5em;
  background: 	#D3D3D3;
  position: absolute;
  bottom: 0%;
  left: 5%;
  width: 90%;
  color: #0F1620;
  font-size: 0.8em;
}
.reveal .slide .refbox {
  border: 2px solid #000000;
  text-align: left;
  padding-left: 36px;
  text-indent: -32px;
  background: 	#D3D3D3;
  position: absolute;
  bottom: 0%;
  left: 5%;
  width: 90%;
  color: #0F1620;
  font-size: 0.5em;
}


.sectioncounter {
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  position: absolute !important;
  bottom: 0% !important;
  left: 5% !important;
  width: 10% !important;
  color: #0F1620 !important;
  font-size: 0.5em !important;
}


.reveal .slide .bulletbox {
  padding: 0.5em;
  height: 300px;
}

.reveal .borderbox img {
  border: 5px solid #ececec;
}

/* alignment */

.reveal .centered {
  text-align: center;
}

.sectionhead {
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  position: absolute;
  top: 0%;
  left: 5%;
  width: 5%;
  font-size: 0.5em;
}

/* font sizes */

.reveal .larger {
  font-size: 3em;
}

.reveal .large {
  font-size: 1.5em;
}

.reveal .midi {
  font-size: 1.2em;
}

.reveal .quote-source {
  font-size: 0.9em;
}

.reveal .small {
  font-size: 0.75em;
}

/* unused */

.reveal .h3center h3 {
  text-align: center;
}

.shout { /*-- note: also not final (or accessible)! Just wanted something that isn't normal text - altering Header3 could also work here --*/
  color: #FF744E;
  font-size: 1.5em;
  font-weight: bold;
}

.question {
  font-color: #FF744E;
  font-style: italic;
}

.reveal .slide .demo {
  border: 3px solid #c7cfcf;
  color: white;
  font-size: 0.75em;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #607576;
}

.reveal .slide .illustration {
  border: 3px solid #FF744E;
  color: black;
  font-size: 0.75em;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background: #FAE3E3;
}

.reveal .slide-logo {
bottom: 0;
right: 30px !important;
max-height: 150px !important;
height: auto !important;
width: auto !important;
}

.reveal .footer {
  font-size: 1em !important;
  font-family: $presentation-heading-font !important;
}

reveal .calloutphoto {
  --emoji: unset;
  --icon: "\f083"; /* copied front FontAwesome */
  --icon-color: #c50a50;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  right: 10px !important;
  max-height: auto !important;
  height: auto !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
}

.reveal .bottomgap {
  position: absolute !important;
  right: 0px;
  bottom: 100px;
}

div.callout-tweet.callout {
  border-left-color: $border-color-left;
}

div.callout-tweet.callout-style-default>.callout-header {
  background-color: $background-color;
}

.callout-tweet.icon .callout-icon {
  display: unset !important;
}

div.callout-tweet.icon.callout-captioned .callout-icon::before {
  background-image: $icon;
}

.callout-tweet.icon.callout-style-default div.callout-icon-container {
  padding-top: 0.1em;
  padding-right: 0.35em;
}