/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Fonts
$font-family-sans-serif: 'Atkinson Hyperlegible', sans-serif !default;
$presentation-heading-font: 'Atkinson Hyperlegible', sans-serif !default;

// Colors
$body-bg: #F4F3EE !default;
$body-color: #222222 !default;
$link-color: #01BAEF !default;
$selection-bg: #588FF9 !default;

// Sizes
$presentation-font-size-root: 36px !default;
$presentation-heading-weight: 700 !default;

/*-- scss:rules --*/
.reveal {
  font-family: 'Atkinson Hyperlegible', sans-serif !important;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: 'Atkinson Hyperlegible', sans-serif !important;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: $presentation-heading-font;
  font-weight: $presentation-heading-weight;
}

// Quick refs for core palette
.blue { color: #588FF9; }
.purple { color: #725EEC; }
.pink { color: #DF227C; }
.orange { color: #FF6018; }
.gold { color: #FFB02F; }

.smaller {
    font-size: 80%;
}

// Callouts
.callout {
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 0.7em 1em;
  border-left-width: 5px;
}

.callout-note {
  background-color: #f0f7fb;
  border-left-color: #3498db;
}

.callout-tip {
  background-color: #eafaf1;
  border-left-color: #2ecc71;
}

.callout-warning {
  background-color: #fef9e7;
  border-left-color: #f1c40f;
}

.callout-important {
  background-color: #fadbd8;
  border-left-color: #e74c3c;
}